*{
    margin: 0;
    font-family: sans-serif;
}
header{
    max-width: 1270px;
    margin: auto;
   .header1{
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 50px;
    box-shadow: 1px 1px 1px 1px rgb(245, 245, 245);
    div{
        align-items: center;
        display: flex;
        gap: 45px;
        a{
            font-size: 14px;
            color: gray;
            text-decoration: none;
        }
    }
    div{
        button{
            background-color: #38BFF2;
            width: 90px;
            border: none;
            border-radius: 50px;
            padding: 10px;
            color: white;
        }
        button:hover{
            background-color: white;
            color: #38BFF2;
            transition: 0.3s;
            box-shadow: 1px 1px 1px 1px #93e2fe;
        }
    }
   }
}

section{
    max-width: 1270px;
    margin: auto;
    .section1{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        div{
            h4{
            font-size: 40px;
            width: 550px;
            font-weight: 400;
            }
            hr{
                width: 300px;
                margin-top: 20px;
                border-bottom: 1px solid rgb(230, 230, 230);
            }
            p{
                color: rgb(86, 86, 86);
                font-size: 15px;
                width: 300px;
                margin-top: 20px;
                font-weight: 200;
                line-height: 25px;
            }
            button{
                background-color: #F15525;
                width: 290px;
                padding: 23px;
                border: none;
                border-radius: 50px;
                color: white;
                margin-top: 25px;
            }
            button:hover{
                background-color: white;
                color: #F15525;
                transition: 0.3s;
                box-shadow: 1px 1px #ffd5c8;
            }
        }
        div{
            img{
                width: 500px;
            }
        }
    }
}

.section2text{
    max-width: 1270px;
    margin: auto;
    margin-top: 25px;
    h1{
        width: 100%;
        text-align: center;
         font-size: 45px;
         font-weight: 500;
    }
}
.section2{
    max-width: 1270px;
    margin: auto;
    background-color: #EAF2F5;
    width: 100%;
    margin-top: 25px;
    border-radius: 25px;
    height: 400px;
     .section2_2{
        display: flex;
        width: 80%;
        margin: auto;
        align-items: center;
     justify-content: space-between;
     padding: 55px;
    
     div{
     img{
        background: none;
        width: 350px;
     }
     }
     .btns{
        :nth-child(1){
            width: 320px;
            background-color: #5096FF;
            padding: 11px;
            color: white;
            border: none;
            border-radius: 50px;
        }
        :nth-child(2){
            background-color: #FFB359;
            padding: 11px;
            width: 90px;
            color: white;
            border: none;
            border-radius: 50px;
            }
              .btns2{
                margin-top: 10px;
                 :nth-child(1){
                    background-color: #F15525;
                    width: 150px;
                 }
                 :nth-child(2){
                      background-color: #4BD071;
                      width: 280px;
                 }
               } 
               .btns3{
                margin-top: 10px;
                 :nth-child(1){
                     background-color: #50C0FF;
                     width: 275px;
                    }
                    :nth-child(2){
                   background-color: #4B77B9;
                    }
                    :nth-child(3){
                        background-color: #AF93FF;
                        width: 90px;
                        border: none;
                        padding: 11px;
                        border-radius: 50px;
                    }
               }
        }
        p{
            width: 360px;
            margin-top: 35px;
            font-size: 20px;
        }
     }
     }